@import url(Clock\static\fonts.css);   
.body{
    /* background-image:-moz-linear-gradient(rgb(123, 0, 0), rgb(44, 44, 44)); */
    color: black;
    background-color: black;
}
.clock{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 250px;
    color: whitesmoke;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    margin-left: auto;
    font-family: "customfont";
}
.box1{
    height: 100px;
    width: 100px;
    border-radius: 24px;
    height: 350px;
    width: 250px;
}
.box3{
    height: 100px;
    width: 100px;
    height: 350px;
    width: 250px;
}
.box5{
    height: 100px;
    width: 100px;
    height: 350px;
    width: 250px;
}
.colon{
    height: 100px;
    width: 100px;
    height: 350px;
    width: 250px;
    font-size: 50px;
}
.colonn{
    color: rgb(37, 9, 58) ;
    font-size: 100px;
    margin-top: 100px;
}
.box1,
.colon,
.box3,
.box5,
.colon{
    display: flex;
    min-width: 100px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 24px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0px 0px 50px rgba(222, 164, 245, 0.4);
    background-color: rgb(219, 181, 245);
}
.hours, 
.minutes,
.seconds{
    font-family: 'customfont';
    font-size: 100px;
    color: rgb(37, 9, 58);
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}
.clock-header{
    height: 200px;
    margin-bottom: -200px;
    margin-top: -50px;
    border-bottom: 1px solid rgb(219, 181, 245);
}
.ch-txt{
    color: rgb(219, 181, 245);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: -20px;

}
.ch-txt1{
    color: rgb(219, 181, 245);
    text-align: center;
    font-family: helvetica;
    width: 900px;
    font-size: 20px;
    margin-left: 300px;
}
.name{
    border-top: 1px solid rgb(37, 9, 58);
    margin-top: 50px;
    box-shadow: 0px -10px 20px rgba(222, 164, 245, 0.2);
}
.namee{
    color:rgb(219, 181, 245);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 10px;
}